doctype html
html(lang='en', ng-app='admin')

	include ./head

	body
		div#page

			include ./header

			section

				include ./flash

				block main

				block content

		include ./footer

		include ./foot
