script(src='/lib/jquery/jquery.js')

script(src='/lib/bootstrap/bootstrap.js')

script(src='/lib/socket.io/socket.io.js')

script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js')

script(src='/bundles/admin.js')
