script(src='/lib/jquery/jquery.js')

//-script(src='/lib/socket.io/socket.io.js')

script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js')

script(src='/js/admin.js')
