nav.navbar.navbar-default.navbar-static-top(role='navigation')
	div.container
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse')
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/admin') Sticky Keys Administration

		div#bs-navbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav
				//-li.active
					//-a(href='#') Link 1
				//-li
					//-a(href='#') Link 2

			//- If User is logged in
			if User
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') #{User.email}
					li
						a(href='/logout') Logout
