extends ./default

block main
	.container-fluid
		.row
			.col-md-2
				.side-nav
					ul
						li: a(ui-sref='tickets', ng-class='{ active: $state.includes("tickets") }') Open Tickets
						li: a(ui-sref='tickets') Closed Tickets
						li: a(ui-sref='tickets') All Tickets
						li: a(ui-sref='customers', ng-class='{ active: $state.includes("customers") }') Customers
						li: a(ui-sref='users', ng-class='{ active: $state.includes("users") }') Users
			.col-md-10
				.container(ui-view)
