extends ./default

block main
	.container-fluid
		.row
			.col-md-2
				.side-nav
					ul
						li: a(ui-sref='home') Open Tickets
						li: a(ui-sref='about') Closed Tickets
						li: a(href='#') All Tickets
						li: a(href='#') Customers
						li: a(href='#') Jobs
			.col-md-10
				.container(ui-view)
