<div id='header'>
	<img src='http://www.sticky-keys.com/img/small-logo.png' alt='Sticky Keys Logo' />
	<h1>Regarding Your Request for Support
</div>

<div id='content'>
	<p>Hello {{fullName}}!</p>
	<p>Thanks for choosing Sticky Keys.  We'll be calling to discuss your problem as soon as possible.</p>
	<p>If this is about a computer, we'll discuss possible problems and maybe even an estimate of cost.  Then we can set up an appointment and have a tech come pick up your computer, if it's needed.</p>
	<p>If this is a request for website design, we'd like to discuss it in person.  So we'll set up a time and place to meet.</p>
	<p>Have a great day!</p>
</div>

<div id='footer'>
	<p>
		Sticky Keys, LLC
		<br>
		Houma, LA
		<br>
		985-360-3463
	</p>
</div>
