#login-form {
	width: 300px;
	padding: 15px 15px 0px 15px;

	.input-group {
		margin-bottom: 5px;
	}
}

.input-group-addon {
	i {
		width: 13px;
	}
}

footer {
	color: white;
	background-color: #303030;
	padding: 35px;
}

body {
	padding-top: 80px;
	background-color: #E5E5E5;
}

nav {
	border-bottom: 3px solid #9CAD6B !important;
	opacity: 0.7;
}

.navbar-brand {
	padding: 0px;
	height: 80px;
}

.navbar-text {
	margin: 20px;
}

.navbar-link {
	font-size: 2em;
	text-decoration: none;
}

.navbar-link:hover {
	text-decoration: none;
}

#headerJumbo {
	background: none;
	h1 {
		text-align: center;
	}
}

#formContainer {
	background: #9CAD6B;
	margin-top: 50px;
	padding: 15px;
	border-top: 1px solid #303030;
}

h2 {
	text-align: center;
}

.border-right {
	border-right: 1px solid rgb(150, 150, 150);
}

.border-left {
	border-left: 1px solid rgb(150, 150, 150);
}

.employee-block {
	padding: 15px;
}

.employee-container {
	border-right: 1px solid rgb(215, 215, 215);
}

.address-container {
	padding-left: 30px;
}

p {
	text-align: justify;
}

.copyright {
	color: #FFFFFF;
	background-color: #1D1D1D;
	padding: 10px;
}

.facebook-link {
	font-size: 2em;
}

.facebook-link:hover {
	text-decoration: none;
}
