extends layouts/default

block main
	#headerJumbo.jumbotron
		.container
			h1
				em Introducing
			.col-md-6
				img(src='img/logo.png', height='200px')
			.col-md-6
				h3 Computer repair that comes to you.  We're changing things up.  We got rid of our office and office hours.  We're committed to fitting into your schedule, so you don't have to worry about ours.

	.container
		h2 What do we do?
		.col-md-4.border-right
			h2
				small HOME COMPUTER REPAIR
			p We're committed to bring you the best support possible, so we're rethinking the whole process.  We know you work hard, or your schedule doesn't allow you to bring your computer to us.  So we'll come get it from you.  We've made a handy little form that lets you pick the time, even if it's not exactly regular business hours.
		.col-md-4
			h2
				small BUSINESS IT SERVICES
			p Businesses need support staff with flexible hours.  We have that in spades.  Call us, or use our contact form below, to send us a message and let us know what's going on.  Even if all you have is a simple question, we're more than happy to help.  Your business is important to us, and our work reflects that.
		.col-md-4.border-left
			h2
				small WEBSITE DESIGN
			p
				| We've also started building websites.  Whether you need something completely custom, with a complex database or a simple blog, we've got you covered.  Fill out the contact form below, or e-mail us directly 
				a(href='mailto:support@sticky-keys.com') here
				| .  Your satisfaction with the final product is paramount to us.  We're highly skilled in many web technologies, so if you need something specific, feel free to ask.

	#formContainer.container-fluid
		.center-block
			h2 Contact Us
		.col-md-4.col-md-offset-4
			form#ticketForm(role='form')
				.form-group
					label(for='fullName') Your Name
					input#fullName.form-control(type='text', placeholder='John Hancock')
				.form-group
					label(for='email') Your E-mail Address
					input#email.form-control(type='email', placeholder='john@hancock.com')
				.form-group
					label(for='phone') Your Phone Number
					input#phone.form-control(type='tel', placeholder='555-525-8000')
				.checkbox
					label
						input(type='checkbox')
						| I would like to receive e-mails from Sticky Keys regarding open tickets or future promotions.
				.form-group
					label(for='problem') What's the problem?
					textarea#problem.form-control
				.form-group
					button.btn(type='submit') Submit it!

