.panel.panel-primary(ng-repeat='customer in customers')
	.panel-heading {{ customer.full_name }}
	.panel-body
		p Email: {{ user.email }}
		p Roles: 
			span(ng-repeat='role in user.roles') {{ role }} 
