.button-link
	a.btn.btn-default(ui-sref='customers.create')
		i.fa.fa-usd
		| &nbsp;New Customer
.panel.panel-primary(ng-repeat='customer in customers')
	.panel-heading
		a.edit-icon(ui-sref='customers.edit({ customerId: customer.id })')
			i.fa.fa-pencil-square-o(title='Edit')
		| {{ customer.fullName }}
	.panel-body
		p {{ customer }}
