.button-link
	a.btn.btn-default(ui-sref='customers')
		i.fa.fa-chevron-left
		| &nbsp;Go Back
.panel.panel-primary
	.panel-heading
		a.edit-icon(ui-sref='customers.view.edit({ customerId: customer.id })')
			i.fa.fa-pencil-square-o(title='Edit')
		| {{ customer.fullName }}
	.panel-body
		p {{ customer }}
		p {{ customer.address }}
		p(ng-if='(customer.city != null) && (customer.state != null) && (customer.zipCode != null)')
			span {{ customer.city }}
			span(ng-if='(customer.city != null) && (customer.state != null)') ,
			span {{ customer.state }}
			span &nbsp;{{ customer.zipCode }}
		p(ng-if='(customer.phonePrimary != null) && (customer.phoneSecondary != null)')
			span {{ customer.phonePrimary }}
			span(ng-if='customer.phoneSecondary != null') &nbsp;/ {{ customer.phoneSeconday }}
		p Referred by: {{ customer.referredBy }}
		p Customer notes: {{ customer.notes }}
