footer
	.container
		p Sticky Keys is a local company made up of two Houma natives.
		.col-md-6
			img(src='http://www.placecage.com/200/200')
			p Michael Chauvin
			small Hardware
		.col-md-6
			img(src='http://www.placecage.com/200/200')
			p Kevin Romano
			small Web Design/Software
