nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
	div.container
		div.navbar-header
			a.navbar-brand(href='/')
				img(src='/img/small-logo.png')

		div
			ul.nav.navbar-nav.navbar-right
				.navbar-text
					a.navbar-link(href='tel:9853503463')
						i.fa.fa-phone-square
						| &nbsp;985-360-3463

