nav.navbar.navbar-default.navbar-static-top(role='navigation')
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse')
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') My Braaaand!

		div#bs-navbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='#') Link 1
				li
					a(href='#') Link 2
			if (config.localAuth || config.googleAuth || config.facebookAuth || config.twitterAuth)
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') Sign Up
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown')
							| Login&nbsp;
							span.caret
						ul.dropdown-menu(role='menu')
							if config.localAuth
								li.dropdown-header Local Login
								li#login-form
									form(role='form')
										.form-group
											input.form-control(name='email', id='email', type='text', placeholder='E-mail')
											input.form-control(name='password', id='password', type='password', placeholder='Password')
								if (config.googleAuth || config.facebookAuth || config.twitterAuth)
									li.divider
									li.dropdown-header Social Login
							if config.googleAuth
								li
									a(href='#')
										img(src='img/google.png', alt='Login with Google')
							if config.facebookAuth
								li
									a(href='#')
										img(src='img/facebook.png', alt='Login with Facebook')
							if config.twitterAuth
								li
									a(href='#')
										img(src='img/twitter.png', alt='Login with Twitter')
