nav.navbar.navbar-default.navbar-static-top(role='navigation')
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse')
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') My Braaaand!

		div#bs-navbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href='#') Link 1
				li
					a(href='#') Link 2
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						| Login&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						li
							a(href='#') Login with your email
						li.divider
						if googleAuth
							li
								a(href='#')
									img(src='img/google.png', alt='Login with Google')
						if facebookAuth
							li
								a(href='#')
									img(src='img/facebook.png', alt='Login with Facebook')
						if twitterAuth
							li
								a(href='#')
									img(src='img/twitter.png', alt='Login with Twitter')
