doctype html
html.app(lang='en')

	include ../includes/head

	body

		div#page

			include ../includes/header

			section

				include ../includes/flash

				block main

				block content

				block form

		include ../includes/footer

		include ../includes/foot
